@import "tailwindcss";

@font-face {
  font-family: "craftr1";
  src: url("/Fonts/craftr1.ttf");
}
@font-face {
  font-family: "craftr2";
  src: url("/Fonts/craftr2.ttf");
}
@font-face {
  font-family: "craftr3";
  src: url("/Fonts/craftr3.ttf");
}
:root {
  --light: #F8F6F1;
  --dark: #0D0D0D;

  --selection-light: #D1CFC7;
  --selection-dark: #333333;
  --selection-text-light: #0D0D0D;
  --selection-text-dark: #F8F6F1;

  --craftr1: "craftr1", sans-serif;
  --craftr2: "craftr2", sans-serif;
  --craftr3: "craftr3", sans-serif;
}

body[theme="light"] .section {
  color: var(--dark);
}

body[theme="light"] {
  background-color: var(--light);
}

body[theme="dark"] .section {
  color: var(--light);
}

body[theme="dark"] {
  background-color: var(--dark);
}

body[theme="dark"] ::selection {
  background: var(--selection-dark);
  color: var(--selection-text-dark);
}

body[theme="light"] ::selection {
  background: var(--selection-light);
  color: var(--selection-text-light);
}

.craftr1{
  font-family: var(--craftr1);
}

.craftr2{
  font-family: var(--craftr2);
}

.craftr3{
  font-family: var(--craftr3);
}

body {
  transition: background-color ease-in-out 0.5s;
}

#crsr {
  mix-blend-mode: difference;
  position: absolute;
}